body{
    display: flex;
    justify-content:center;
}

.main{
    justify-content: center;
    width: 50%;
}

.container{
    text-align: center;
    justify-content: center;
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
}

.card{
    padding: 10px;
    padding-bottom: 15px;
    align-items: center;
    border-radius: 0 0 10px 10px;
}

.card-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#colorHead {
    background-color: #B5D2E7;
}

#tercer {
    display: flex;
    background-color: #00BDE5;
    height: 40px;
    margin-top: 20px;
    margin-left: 12px;
    margin-right: 12px;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0 0 ; 
}

@media only screen and (max-width:768px) {
    .card-body{
        flex-wrap: wrap;
    }

    input{
        width: fit-content;
    }
}